<!-- Toolbar -->
<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode == 'over'" (click)="sidenav.toggle()" (sidenavToggle)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <img class="logo" src="./assets/images/jason-logo.png"/>
  <span class="header-title">{{title}}</span>
</mat-toolbar>

<!-- Side Navigation -->
<mat-sidenav-container>
  <!-- Navigation -->
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" [autoFocus]="false">
    <img class="avatar mat-elevation-z8" src="./assets/images/jason-logo.png"/>
    <h4 class="name">Zhengxin Yang (杨郑鑫)</h4>
    <p class="designation">Ph.D. Candidate</p>
    <p class="major">Computer Science</p>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="'router-link-active'" [routerLink]="'./Home'" > <mat-icon>home</mat-icon> Home </a>
      <a mat-list-item [routerLinkActive]="'router-link-active'" [routerLink]="'./Profile'" > <mat-icon>person</mat-icon> About </a>
      <a mat-list-item [routerLinkActive]="'router-link-active'" [routerLink]="'./Publications'" > <mat-icon>article</mat-icon> Publications </a>
      <a mat-list-item [routerLinkActive]="'router-link-active'" [routerLink]="'./Blog'" > <mat-icon>book</mat-icon> Blog </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Content -->
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>